<!-- <table>

  <tr  *ngFor="let task of taskList" class="tableRow">
    <td>
      <a routerLink="/" (click)="taskCompleted(task)"><i class="fa-regular fa-circle-check fa-2x" [ngClass]="{
            colorComplete: task.taskStatus == 'complete',
            colorIncomplete: task.taskStatus == 'incomplete'
          }"></i></a>
    </td>
    <td class="taskName">{{ task.taskName }}</td>
    <td>{{ task.taskDesc }}</td>
    <td>{{ task.dueDate }}</td>
    <td>
      <i class="fa-solid" [ngClass]="{
          'fa-arrow-up': task.taskPriority == 'high',
          'fa-arrow-right': task.taskPriority == 'medium',
          'fa-arrow-down': task.taskPriority == 'low'
        }"></i>
    </td>
  </tr>

</table> -->
<!-- <div class="container" *ngFor="let task of taskList">
  <div class="taskList">
      <div class="completeStatus">
        <a routerLink="/" (click)="taskCompleted(task)"><i class="fa-regular fa-circle-check fa-2x" [ngClass]="{
          colorComplete: task.taskStatus == 'complete',
          colorIncomplete: task.taskStatus == 'incomplete'
        }"></i></a>
      </div>
      <div class="taskName">{{ task.taskName }}</div>
      <div class="taskDesc">{{ task.taskDesc }}</div>
      <div class="dueDate">{{ task.dueDate }}</div>
      <div class="priority">
        <i class="fa-solid" [ngClass]="{
        'fa-arrow-up': task.taskPriority == 'high',
        'fa-arrow-right': task.taskPriority == 'medium',
        'fa-arrow-down': task.taskPriority == 'low'
      }"></i>
    </div>
  </div>
</div> -->
<div class="container">
  <app-task-item [taskList]="taskList"></app-task-item>
</div>
