.heading{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
select{
  border: 0;
  font-size: 20px;
  font-weight:bold
}
select option{
  border: none;
}
.colorBlack{
  color: black;
  font-weight: bold;
}
.marginAll{
  margin: 20px;
}

.taskLine{
  display: flex;
  align-items: center;
}
.iconColor{
  color: rgb(27, 216, 27);
}
.ml-5{
  margin-left: 10px;
}
button{
  cursor: pointer;
}
